.mob_article {
  width: 100%;
  min-height: auto;
  max-height: auto;
  padding-top: 3rem;
  position: relative;
  z-index: 1;
  background-color: #06161f;
}

.mob_article article {
  width: 100%;
  color: white;
}

.mob_article article section {
  min-height: 19rem;
  max-height: 19rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.mob_article article section h1 {
  position: absolute;
  transform: scale(9) translateY(-0.5rem);
  opacity: 0.3;
  color: aqua;
}

.mob_article article section div {
  position: absolute;
  height: 0.1rem;
  width: auto;
  background-color: aqua;
}

.mob_article article section h2 {
  min-height: 6rem;
  max-height: 6rem;
  width: auto;
  position: absolute;
  font-size: 1.5rem;
  transform: translateY(4rem);
  word-wrap: break-word;
}

.mob_article article section figure {
  position: absolute;
  transition: all 1.5s cubic-bezier(0.61, -0.5, 0.42, 1.74);
}

.mob_article article section figure img {
  min-height: 18rem;
  max-height: 18rem;
  width: 50vw;
  border-radius: 3rem;
}

.mob_article article h3 {
  color: aqua;
  margin: 0.5rem 0 0.5rem 1rem;
  min-height: 1.5rem;
  max-height: 1.5rem;
}

.mob_article article p {
  min-height: auto;
  max-height: auto;
  margin: 0 0.5rem 0 1rem;
  line-height: 1.5rem;
}

.mob_article article a {
  color: aqua;
  text-decoration: none;
  margin: 0 0 0 1rem;
  display: flex;
  align-items: center;
}

.mob_article article a img {
  transform: scale(0.8);
  margin: 0 0 0 1vw;
}

@media screen and (min-width: 575px) {
  .desk_article {
    width: 100%;
    min-width: 100%;
    min-height: 40rem;
    max-height: 40rem;
    color: white;
    margin-top: 5rem;
  }

  .desk_article article {
    max-height: 40rem;
    min-height: 40rem;
    max-width: 80rem;
    min-width: 10rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .desk_article article div {
    width: 50%;
    min-width: 50%;
    height: 30rem;
    position: relative;
    transition: all 1.5s cubic-bezier(0.61, -0.5, 0.42, 1.74);
    display: flex;
  }

  .desk_article article div img {
    min-width: 20rem;
    max-width: 20rem;
    height: 30rem;
    border-radius: 1.5rem;
  }

  .desk_article article main {
    max-height: 25rem;
    min-height: 25rem;
    width: 50%;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  .desk_article article main h2 {
    color: aqua;
    opacity: 0.3;
    font-size: 15vw;
  }

  .desk_article article main section {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .desk_article article main section div {
    background-color: aqua;
    width: 10vw;
    height: 0.15rem;
    margin-right: 0.5rem;
  }

  .desk_article article main section h3 {
    font-size: 1.3rem;
    color: aqua;
  }

  .desk_article article main h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  .desk_article article main p {
    font-size: 1.2rem;
    padding: 0 0.5rem 0 0;
    line-height: 1.5rem;
  }

  .desk_article article main a {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    text-decoration: none;
    color: aqua;
  }

  .desk_article article main a img {
    margin: 0 0 0 0.5rem;
  }
}
