.mob_footer {
  width: 100%;
  color: white;
  position: relative;
  z-index: 1;
  padding-top: 3rem;
  background-color: #06161f;
}

.mob_footer .section h2 {
  color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92vw;
  margin: 0 0 0 1rem;
  font-size: 1.2rem;
}

.mob_footer .section h2 button {
  background-color: #06161f;
  width: 0.7rem;
  height: 0.7rem;
  border-color: aqua;
  border-width: 0 0.2rem 0.2rem 0;
  transition: transform 1s ease;
}

hr {
  margin: 0.3rem 0 0.3rem 1rem;
  width: 96vw;
  border-width: 1px 0 0 0;
  border-top: solid aqua;
}

.mob_footer .section ul {
  padding-left: 15px;
  transition: all 0.5s ease;
}

.mob_footer .section ul li {
  list-style: none;
  line-height: 2vh;
  padding: 10px 10px 30px 10px;
  transition: opacity 0.1s ease, height 1s ease;
}

.mob_footer .third h1 {
  color: aqua;
  width: 97vw;
  margin-left: 1rem;
}

.mob_footer .third .para {
  padding: 1rem 0 1rem 1.2rem;
}

.mob_footer .third .s {
  color: grey;
}

@media screen and (min-width: 575px) {
  .desk_footer {
    width: 100%;
    height: 25rem;
    display: flex;
    align-items: flex-start;
  }

  .desk_footer .section {
    color: white;
  }

  .desk_footer .first {
    width: 70rem;
    min-width: 17rem;
  }

  .desk_footer .first h1 {
    color: aqua;
    margin: 4rem 0 1rem 5vw;
  }

  .desk_footer .first .para {
    font-size: 1.2rem;
    max-width: 25rem;
    min-width: 10rem;
    margin: 0 0 4rem 5vw;
    line-height: 1.6rem;
  }

  .desk_footer .first .s {
    color: grey;
    line-height: 1.6rem;
  }

  .desk_footer .second {
    width: 30rem;
    min-width: 12.5rem;
  }

  .desk_footer .third {
    width: 40rem;
    min-width: 9rem;
  }

  .desk_footer .second h2,
  .desk_footer .third h2 {
    margin: 4rem 0 1rem 2vw;
    color: aqua;
  }

  .desk_footer .second ul,
  .desk_footer .third ul {
    height: auto;
  }

  .desk_footer .second li,
  .desk_footer .third li {
    list-style: none;
    margin: 0 0 1rem 2vw;
  }
}
